.App {
  text-align: center;
}

.header2 {
  background-color: #606060;
  text-align: center;
  height: 100%;
  position: fixed;
  width: 140px;
  top: 0;
  left: 0;
}

.navbar-navbar-expand-lg-navbar-dark-bg-dark {
  display: flex;
}


.navbar-nar {
  list-style: none;
  list-style-position: outside;
  padding-left: 0;
  padding-top: 10px;

}

.nav-item {
  background: #606060;
  font-size: 18px;
  margin: 13px 13px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding: 10px;


}

.App-logo {
  width: 110px;
  height: 110px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #342e28;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}